* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font-bebas;
    src: url(./Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: font-roboto;
    src: url(./Fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: font-roboto-slab;
    src: url(./Fonts/RobotoSlab-Regular.ttf);
}
body {
    min-height: 100vh;
    font-family: font-roboto;
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    padding: 20px 40px;
    border: 2px solid #000;
    font-weight: 300;
    font-size: 24px;
    text-align: center
}
th {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background: #e8e8e8;
}