h1 {
    color: red;
    background-color: red;
}
h2 {
    color: orange;
    background-color: orange;
}
h3 {
    color: yellow;
    background-color: yellow;
}
h4 {
    color: green;
    background-color: green;
}
h5 {
    color: blue;
    background-color: blue;
}
h6 {
    color:fuchsia;
    background-color: fuchsia;
}
body {
    background-color: black;
    color: white;
}
.p1 {
    color: green;
}
.p2 {
    color: red;
}
.p3 {
    color: yellow;
}