*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face 
{
    font-family: font-R;
    src: url(./Shabnam.ttf);
}
body
{
    font-family: font-R;
    min-height: 100vh;
    max-width: 100%;
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
}
.header 
{
    color: #fff;
    font-weight: 700;
    text-align: center;
    width: 200px;
    font-size: 20px;
    position: relative;
    left: calc(50% - 100px);
}
.main-content-1
{
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-content-1 a 
{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    width: 150px;
    padding: 10px;
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97);
    margin-bottom: 10px;
}
.main-content-1 a span
{
    font-size: 1.5em;
}

.main-content-1 a:hover,.main-content-1 a:active 
{
    background: #0181d1;
}
.a-img-1
{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
}
.a-img-1 .img-1
{
    width: 100%;
    position: absolute;
    height: max-content;
}
.p-img-1 
{
    width: 150px;
    text-align: center;
    display: block;
    position: relative;
    left: calc(50% - 75px);
    color: #fff;
    margin: 20px 0px;
}
.countdown-A 
{
    text-decoration: none;
    background: #d60b0b;
    color: #000;
    width: 200px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: block;
    position: relative;
    left: calc(50% - 100px);
    margin-top: 10px;
}