*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face 
{
    font-family: font-R;
    src: url(./Shabnam.ttf);
}
body
{
    font-family: font-R;
    min-height: 100vh;
    max-width: 100%;
    background: #E0E5EC;
}
.header 
{
    color: #6b00f7;
    font-weight: 700;
    text-align: center;
    width: 200px;
    font-size: 20px;
    position: relative;
    left: calc(50% - 100px);
    margin: 10px 0px;
}
.dark
{
    width: max-content;
    height: max-content;
    position: relative;
    left: calc(50% - 106.25px);
    border: 2px solid #212121;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.dark a 
{
    margin-bottom: 4px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #c700ac;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.dark a:hover, .dark a:active 
{
    background: #960182;
}
.dark h1 
{
    font-size: 15px;
    text-align: center;
    animation: fA 3s infinite linear;
}
@keyframes fA {
    0% {
     transform: none;   
    }
    33% {
     transform: translateX(20px);   
    }
    66% {
     transform: translateX(-20px);   
    }
    100% {
        transform: translate(0px);
    }
}
.dark .a-1
{
    width: 20px;
    height: 20px;
    background: #E0E5EC;
    position: absolute;
}
.a1
{
    top: -10px;
    left: -10px;
}
.a2
{
    top: -10px;
    left: 96%;
}
.a3
{
    top: 94%;
    left: 96%;
}
.a4
{
    top: 94%;
    left: -10px;
}
.main-content-1
{
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-content-1 a 
{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    width: 130px;
    padding: 10px;
    border-radius: 25px;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30); 
    margin-bottom: 10px;
}
.main-content-1 a span
{
    font-size: 1.5em;
}

.main-content-1 a:hover
{
    box-shadow: inset 0px 0px 4px 50px #0f1725;
    transition: 0.3s;
    transform: translateY(5px);
}
.main-content-1 a:active 
{
    transform: translateY(10px);    
}
.a-img-1
{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
}
.a-img-1 .img-1
{
    width: 500px;
    position: absolute;
    display: block;
    height: max-content;
    left: calc(50% - 250px);
}
@media screen and (max-width: 600px) {
    .a-img-1 .img-1
    {
        width: 300px;
        position: absloute;
        left: calc(50% - 150px);    
    }
}
.p-img-1 
{
    width: 150px;
    text-align: center;
    display: block;
    font-size: 20px;
    position: relative;
    left: calc(50% - 75px);
    color: rgb(10, 9, 9);
    margin: 20px 0px;
}
.countdown-A 
{
    text-decoration: none;
    background: #d60b0b;
    color: #000;
    width: 200px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: block;
    position: relative;
    left: calc(50% - 100px);
    margin-top: 10px;
}
.nav-1 ul li a 
{
    text-decoration : none;
    color : #2d2f31;
}
.nav-1 
{
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}
.nav-1 span 
{
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}
.nav-1 span::after
{
  float: right;
  right: 10%;
  content: "+";
}
.slide 
{
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s ease;
}
.slide li 
{
    padding : 30px;
}
#touch
{
    position: absolute;
    opacity: 0; 
    height: 0px;
}    
#touch:checked + .slide 
{
    height: 180px;
} 