div {
  width: 450px;
  height: 600px;
  background-color: transparent;
  border: 2px solid darkorange;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  left: 445px;
}
h1 {
    color: orange;
    font-size: 50px;
    font-family:cursive;
    position: relative;
    top: 8px;
    left: 100px;
}
#food {
  color:rgb(240, 179, 68);
  font-size: 22px;
  position: relative;
  top: 15px;
  left: 34px;
  display: inline;
}
#fast {
    color: rgb(240, 179, 68);
    font-size: 22px;
    position: relative;
    top: 15px;
    left: 77px;
    display: inline;
}
.iranian-food,option {
  width: 190px;
  height: 40px;
  border: 3px solid gray;
  font-size: 18px;
  position: relative;
  top: 21px;
  left: 25px;
  display: inline;
}
.fast-food,option {
    width: 190px;
    height: 40px;
    border: 3px solid gray;
    font-size: 18px;
    position: relative;
    top: 21px;
    left: 40px;
}
label {
    color: rgb(236, 177, 68);
    font-size: 30px;
    position: relative;
    top: 323px;
    left: 80px;
}
input {
    width: 30px;
    height: 30px;
    position: relative;
    top: 330px;
    left: -75px;
}