*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face 
{
    font-family: Font-R;
    src: url(./Shabnam.ttf);
}
body 
{
    font-family: Font-R;
    min-height: 100vh;
    background: rgb(47, 47, 56);
}

#timer 
{
    width: max-content;
    height: 100px;
    position: fixed;
    left: calc(50% - 220px);
    top: calc(50% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer div 
{
    text-align: center;
    display: inline-block;
    color: #fff;
    width: 100px;
    padding: 15px;
    background: #020b43;
    border-radius: 30px;
    margin: 0px 5px;
    cursor: cell;
    font-size: 2em;
}

#timer div span 
{
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-weight: 400;
    text-align: center;
    font-size: .5em;
}
.header
{
    color: #fff;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}
.footer
{
    position: fixed;
    text-align: center;
    font-size: 2.5em;
    bottom: 0%;
    left: calc(50% - 123.5px);
}
