body
{
    min-width: 100%;
    min-height: 100vh;
}
.Tooltip-A
{
    width: 800px;
    display: block;
    position: relative;
    left: 30%;
}
.btn
{
    margin-top: 20px;
}
.progress
{
    margin-top: 10px;
}