body {
  background-color: #212121;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  align-items: center;
  justify-content: center;
}

body .alert {
  width: 60%;
  display: block;
  position: relative;
  left: 10%;
}

.line-break-1 {
  background-color: #fff;
  width: 100%;
  height: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}
