*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: Mono;
    src: url(./SplineSans-VariableFont_wght.ttf);
}
:root
{
    --color-brand--envato: #82b441;
    --color-brand--powerelite: #80b253;
    --color-brand--audiojungle: #99c030;
    --color-brand--themeforest: #1abc9c;
    --color-brand--graphicriver: #308eb0;
    --color-brand--photodune: #0f8e99;
    --color-brand--envatostudio: #1fb5db;
    --color-brand--3docean: #a90f33;
    --color-brand--codecanyon: #e78632;
    --color-brand--videohive: #e8a702;
    --color-ui--black: #000;
    --color-ui--grey-15: #262626;
    --color-ui--grey-10: #1a1a1a;
    --color-ui--grey-16: #292929;
    --color-ui--grey-20: #333;
    --color-ui--grey-27: #454545;
    --color-ui--grey-30: #4d4d4d;
    --color-ui--grey-40: #666;
    --color-ui--grey-50: grey;
    --color-ui--grey-60: #999;
    --color-ui--grey-70: #b3b3b3;
    --color-ui--grey-80: #ccc;
    --color-ui--grey-90: #e6e6e6;
    --color-ui--grey-95: #f2f2f2;
    --color-ui--grey-96: #f5f5f5;
    --color-ui--grey-98: #fafafa;
    --color-ui--white: #fff;
    --color-ui--grey-blue: #ebedf4;
    --color-ui--grey-blue-97: #f5f7fa;
    --color-ui-custom--inset-shadow: rgba(0,0,0,0.2);
    --color-ui--blue-anaemic: #ebedf4;
    --color-ui--blue-green: #38a3a0;
    --color-ui--blue-darker: #032835;
    --color-ui--blue-dark: #075e7d;
    --color-ui--blue: #087096;
    --color-ui--blue-light: #0982ae;
    --color-ui--blue-lighter: #12b7f3;
    --color-ui--blue-lightest: #e2e9ee;
    --color-ui--green-darker: #365016;
    --color-ui--green-dark: #5e8d25;
    --color-ui--green: #6ca12b;
    --color-ui--green-primary: #6ca329;
    --color-ui--green-light: #79b530;
    --color-ui--green-lighter: #9fd45e;
    --color-ui--favorite: #ff6966;
    --color-ui--error-red: #c24242;
    --font-weight--regular: 400;
    --font-weight--semibold: 500;
    --font-weight--bold: 700;
}
body
{
    background: var(--color-ui--grey-blue);
    font-family: Mono;
}
.navbar
{
    background-color: var(--color-brand--envatostudio);
    color: var(--color-ui--grey-15);
}
.Ar-1
{
    background-color: transparent;
    color: var(--color-ui--grey-10);
    border: 1px solid var(--color-ui--grey-10);
    margin-right: 5px;
}
.Ar-1:hover
{
    transition: 0.3s;
    background-color: var(--color-ui--grey-10);
    color: var(--color-brand--envatostudio);
    border: 1px solid var(--color-ui--grey-10);
}
.me-2
{
    border: 1px solid var(--color-ui--grey-40);
}
.me-2:focus
{
    box-shadow: 0px 0px 6px 4px var(--color-ui--grey-30);
    border-color: var(--color-ui--grey-30);
}
.navbar ul a:hover
{
    background-color: var(--color-ui--blue-light);
    border-radius: 3px;
    padding: 8px 4px;
}
.Ar-222
{
    height: 56px;
}
.input-group-container
{
    position: relative;
    left: calc(26%);
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 30px;
    width: 50%;
    border: 2px solid var(--color-ui--grey-40);
    border-radius: 3px;
    margin-bottom: 30px;
}
.input-group-container h1
{
    text-align: center;
    margin: 30px 0px;
    font-weight: 600;
    font-size: 2em;
    color: var(--color-ui--favorite);
}
