           
div {
    width: 185px;
    height: 250px;
    background-color: transparent;
    border: 1px solid rgba(224, 222, 222, 0.938);
    border-radius: 3px;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 110px);
    padding: 0 0 0 25px;
}
.label {
    color: royalblue;
    font-size: 8px;
    display: block;
    padding: 2px;
    position: relative;
    top: -9px;
    left: -12px;
}
.tik1 {
    color: royalblue;
    display:inline;
    font-size: 10px;
    width: 10px;
    height: 10px;
    position: relative;
    top: -8px;
    left: 4px;
}
.tik2 {
    width: 10px;
    height: 10px;
    position:relative;
    top: -6px;
    left: -73px;
}
.input {
    display: block; 
    border: 1px solid rgba(224, 222, 222, 0.938);
    border-radius: 2px;
    width: 180px;
    height: 18px;
    position: relative;
    top: -10px;
    left: -10px;
}
h3 {
    font-size: 15px;
    position: relative;
    top: -3px;
    left: 53px;
}
span {
    color: red;
}
#reset {
    width: 86px;
    height: 18px;
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;
    font-size: 10px;
    position: relative;
    top: -2px;
    left: -7px;
}
#submit {
    width: 86px;
    height: 18px;
    background-color: grey;
    color: white;
    border: 1px solid gray;
    font-size: 10px;
    position: relative;
    top: -2px;
    left: -8px;
}
p {
    color: grey;
    font-size: 10px;
    display: inline;
    position: relative;
    top: -8px;
    left: 5px;
}
#policy {
    font-size: 7px;
    color: rgb(99, 98, 98);
    position: relative;
    top: 8px;
    left: -8px;
}