body {
  font-family: Arial Rounded MT Bold;
  text-align: center;
  margin: 8px;
  background-color: teal;
}
.sp1 {
  color: black;
  font-size: 25px;
  padding: 10px;
  text-shadow: 4px 3px 4px black;
}
.d1 {
  background-color: #d3d3d3;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 8px 14px 27px 3px black;
}
#img1 {
  width: 135px;
  margin-top: 60px;
}
.d2 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d3 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d4 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d5 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d6 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d7 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}

.d8 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d9 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d10 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.d11 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -30px;
}
.w1 {
  width: 45px;
  height: 80px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -20px;
  border-top-color: transparent;
}
.div1 {
  margin-top: -38em;
  margin-left: 10em;
}
.l2 {
  width: 80px;
  height: 45px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.l3 {
  width: 80px;
  height: 45px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -49px;
  margin-left: 60px;
}
.l4 {
  width: 80px;
  height: 45px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -49px;
  margin-left: 110px;
}
.l5 {
  width: 80px;
  height: 45px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -49px;
  margin-left: 160px;
}
.l6 {
  width: 80px;
  height: 45px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -49px;
  margin-left: 210px;
}
