* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: Font-V;
  src: url(Lora-VariableFont_wght.ttf);
}
body {
  font-family: Font-V;
  min-height: 100vh;
}
.navbar {
  width: 100%;
  background-color: #292929;
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover,
.navbar a:focus {
  background-color: #024bb7;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.nav-form {
  text-align: center;
  color: white;
  float: right;
  margin-right: 10px;
}
.nav-form input:focus {
  border: 1px solid #0f8e99;
}
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
