body {
  font-family: B Koodak;
}
.d1 {
  background-color: lightseagreen;
  color: white;
  text-align: center;
  border-radius: 8px;
}
.h2 {
  color: white;
  text-align: center;
}
bdi.b1 {
  background-color: lightgrey;
  color: red;
}
.all-colors {
  background-color: lightseagreen;
  color: black;
  border-radius: 8px;
}
.p2 {
  color: red;
}
