
.model {
    font-size: 30px;
    font-family:shekasteh ;
    color: black;
    text-align: center;
}
@font-face {
    font-family: shekasteh;
    src: url(./meida/Shekasteh\ V2.001.ttf);
}
.over1 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    position: relative;
    top: 9px;
    left: 693px;
    padding: 25px;
}
.over2 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 116px;
    left: 419px;
}
h1 {
    text-align: center;
}
.foter {
    font-size: 20px;
    font-family:shekasteh ;
    font-weight: 700G;
    color: brown;
    padding: 10px 0 0 50px;
}
body {
    background-color: rgba(52, 63, 214, 0.589);
}