@font-face {
  font-family: us-latin;
  src: url(./Monaline.ttf);
}
* {
  box-sizing: border-box;
}
body {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: B Titr Bold;
}
h1 {
  font-weight: bold;
  margin: 0;
}
h1 a {
  font-size: 1.75em;
}
a:hover {
  text-decoration: none;
  color: rgb(66, 66, 180);
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
span {
  font-size: 18px;
}
a {
  color: #000;
  font-size: 17px;
  text-decoration: none;
  margin: 15px 0;
}
button {
  border-radius: 20px;
  border: 1px solid #13a8ee;
  background-color: #13a8ee;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button:hover {
  background: #058dcc;
  width: 150px;
}
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
input {
  background-color: #eee;
  border: 1px solid #333;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
input:focus {
  width: 120%;
  transition: 1s;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 12px 31px 1px #333;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  margin-left: -50px;
  width: 768px;
  height: 480px;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
}
.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
.overlay a {
  font-size: 20px;
}
.overlay {
  background: #13a8ee;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}
.overlay-right {
  right: 0;
}
.social-container {
  margin: 50px 0;
}
.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
::placeholder {
  color: black;
}
