@font-face {
  font-family: tinos;
  src: url(./media/buEzpoGnedXvwjX-Rt1s4C0f_Q.woff2);
}
body {
  padding: 0;
  margin: 0;
  font-family: tinos;
}
* {
  box-sizing: border-box;
}
.Homework-13 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.s-style1:hover {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.s-style1 {
  width: 100px;
  height: 100px;
  position: absolute;
}
.ssb {
  border-radius: 0%;
}
.ssd {
  border-radius: 100%;
}
@keyframes animated-1 {
  0%,
  100% {
    top: 0%;
    left: calc(50% - 50px);
  }
  25% {
    top: calc(50% - 50px);
    left: 0%;
  }
  50% {
    top: calc(100% - 100px);
    left: calc(50% - 50px);
  }
  75% {
    top: calc(50% - 50px);
    left: calc(100% - 100px);
  }
}
.circle1 {
  background-color: rgb(34, 3, 83);
  top: 0%;
  left: calc(50% - 50px);
  animation: 4s animated-1 infinite;
}
.circle2 {
  background-color: rgb(3, 214, 204);
  top: 0%;
  left: calc(50% - 50px);
  animation: 4s animated-1 infinite;
  animation-delay: 0.5s;
}
.square1 {
  background-color: rgb(255, 102, 0);
  top: 0%;
  left: calc(50% - 50px);
  animation: 4s animated-1 infinite;
  animation-delay: 1.5s;
}
.square2 {
  background-color: rgb(0, 255, 21);
  top: 0%;
  left: calc(50% - 50px);
  animation: 4s animated-1 infinite;
  animation-delay: 2s;
}
.loader-13 {
  width: 200px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  animation: 2s loader-13 linear infinite;
}
@keyframes loader-13 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
