* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font-b;
    src: url(./Fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: font-bi;
    src: url(./Fonts/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
    font-family: font-i;
    src: url(./Fonts/RobotoCondensed-Italic.ttf);
}
@font-face {
    font-family: font-l;
    src: url(./Fonts/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: font-li;
    src: url(./Fonts/RobotoCondensed-LightItalic.ttf);
}
@font-face {
    font-family: font-r;
    src: url(./Fonts/RobotoCondensed-Regular.ttf);
}
body {
    font-family: font-r;
    min-height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    background: #000000;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000000;
}
.nav a {
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.nav a:hover {
    text-decoration: underline;
    transition: 1s;
}
.nav a:nth-child(3) img {
    width: 50px;
    margin: 0px 50px;
}
.nav a i {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.header {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    left: 0;
    top: 0;
    background: #000;
}
.header .header-content {
    width: 500px;
    height: 80vh;
    border: 2px solid #fff;
    border-radius: 8px;
    position: relative;
    left: calc(50% - 250px);
    top: calc(50% - 40vh);
    padding: 40px;    
}
.header .header-content h1,
.header .header-content p {
    color: #fff;
    text-align: center;
}
.header .header-content h1 {
    font-family: font-b;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.header .header-content p {
    font-size: 20px;
    font-weight: 200;
}
.section-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgb(249, 249, 251);
}
.section-1 .boxes {
    width: 400px;
    height: 70vh;
    text-align: center;
    padding: 24px;
    margin: 0px 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px 0px;
    cursor: pointer;
}
.section-1 .boxes:hover {
    transition: 0.3s ease-in;
    transform: scale(1.02) translate(0px, -8px);
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 4px 0px;
}
.section-1 .boxes:hover a {
    background: #2222e4;
    color: #fff;
}
.section-1 .boxes h1 {
    font-family: font-b;
    margin: 20px 0px;
}
.section-1 .boxes p {
    width: 350px;
    height: 100px;
    display: inline-block;
    font-family: font-l;
    font-weight: 600;
    font-size: 17px;
    color: #212121;
}
.section-1 .boxes a {
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    border-radius: 6px;
    border: 1px solid #2222e4;
    color: #2222e4;
    transition: 0.2s;
}
.section-1 .boxes img {
    width: 350px;
}
.section-2 {
    width: 100%;
    min-height: 100vh;
    background: rgb(247, 247, 247);
    position: relative;
    top: 0;
    left: 0;
}
.section-2 .ex-1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
}
.section-2 .ex-1 > h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.section-2 .ex-1 .line {
    width: 500px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    background: yellow;
    margin: 30px;
    left: calc(50% - 280px);  
}
.section-2 .ex-1 .p-2{
    font-family: font-b;
    font-size: 23px;
}
.section-2 .ex-2 {
    width: 100%;
    margin-top: 20px;
    position: relative;
    min-height: 100vh;
    padding-right: 16px;
    padding-left: 16px;
}
.section-2 .ex-2 .boxes-2 {
    width: 400px;
    height: 350px;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
}
.section-2 .ex-2 .boxes-2 h1 {
    width: 100%;
    font-family: font-l;
    padding: 10px 20px;
    height: 100px;
}
.section-2 .ex-2 .boxes-2 img {
    width: 397px;
}
.section-2 .ex-2 .boxes-2 a {
    padding: 5px 20px;
    background: #fff;
    border: 1px solid #2222e4;
    border-radius: 5px;
    color: #2222e4;
    display: inline-block;
    margin-top: 10px;
    font-family: font-b;
}
.section-2 .ex-2 .boxes-2 a:hover {
    background: #2222e4;
    color: #fff;
}
.section-2 .p-3 {
    padding: 40px;
    text-align: center;
    font-family: font-b;
    font-size: 20px;
}
.section-2 .fhh {
    width: 90%;
    position: relative;
    left: calc(50% - 607px);
    margin: 20px 0px;
}
.section-3 {
    width: 100%;
    height: 100px;
    background: #333;
}
.section-3 ul {
    position: relative;
    top: calc(50% - 25px);
}
.section-3 ul li {
    margin: 0px 100px;
}
.section-3 ul li a {
    color: #6d6d6d;
}
.section-3 ul li a:hover {
    color: #fff;
}